<div class="time-entry-calendar">
  <div class="nav-header">
    <button md-button (click)="previous()"><i class="material-icons">arrow_back</i></button>
    <span>{{title}}</span>
    <button md-button (click)="next()"><i class="material-icons">arrow_forward</i></button>
  </div>
  <div class="week">
    <div [style.order]="getDayOrder(i)" *ngFor="let day of config.dayNames; let i = index;">
      {{day.substring(0, 1).toUpperCase()}}
    </div>
  </div>
  <div class="week">
    <div md-mini-fab class="status" *ngFor="let day of timesheet.days" 
      [ngClass]="statusClass(day)" 
      (click)="dayClicked(day)">

      <div>{{day.date.getDate()}}</div>
    </div>
  </div>
<div>