.time-entry-form {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.wide {
    width: 100%;
}

.time {
    display: flex;
    padding-left: 40px;

    md-input-container {
        flex-grow: 1;
    }
}

.spacer {
    width: 1em;
}

.line-item {
    display: flex;
    align-items: center;

    & > div {
        padding-right: 1em;
    }

    input {
        cursor: pointer;
    }
}