<div class="time-entry-form">
  <div class="line-item">
    <div>
      <md-icon>flare</md-icon>
    </div>
    <md-input-container class="wide" 
      (click)="showSearchDialog('Search Projects', 'some-url-to-projects')">
      <input md-input placeholder="Project" disabled [ngModel]="project.name">
    </md-input-container>
  </div>
  <div class="line-item">
    <div>
      <md-icon>layers</md-icon>
    </div>
    <md-input-container class="wide" 
      (click)="showSearchDialog('Search Tasks', 'some-url-to-tasks')">     
      <input md-input placeholder="Task" disabled [ngModel]="task.name">
    </md-input-container>
  </div>
  <div class="line-item">
    <div>
      <md-icon>spa</md-icon>
    </div>
    <md-input-container class="wide" disabled
      (click)="showSearchDialog('Search PayCodes', 'some-url-to-payCodes')">
      <input md-input placeholder="Pay Code" disabled [ngModel]="payCode.name">
    </md-input-container>
  </div>
  <div class="time">
    <md-input-container>
      <input md-input placeholder="Hours" type="number" min="0" max="23" step="1" [ngModel]="time.hours">
    </md-input-container>
    <div class="spacer"></div>
    <md-input-container>
      <input md-input placeholder="Minutes" type="number" min="0" max="59" [ngModel]="time.minutes">
    </md-input-container>
  </div>
</div>